
// Viewports
$_lg : 980px;
$_md : 768px;
$_sm : 480px;
$_xs : 360px;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$article_h2_fontsize: 2.1em;
$line-height-base: 1.6;

$_navbar_height: 56px;
$_navbar_max_height: 448px;
$_margin_root: 8px;


// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$_lightgrey: #EBEBEB;
$_grey: #aaa;
$_darkgrey: #123;
$_white: #fff;
$_almost_white: #eee;
$_black: #323232;
$_mainc: #0088ff; //#6F6CDC
$_success_green: #42f489;

// Shading
$_shade : fade-out($_black, .71);

$_shadow_1: 0px 0px 1px 0px fade-out($_shade, .25), 
            0px 2px 4px 0px $_shade;

$_shadow_2: 0px 0px 1px 0px fade-out($_shade, .25),
            0px 3px 8px 0px $_shade;

$_shadow_3: 0px 0px 1px 0px fade-out($_shade, .25), 
            0px 6px 9px 0px $_shade;

// Z-index Levels

$_navbar_level: 90909090;
