@import url('https://fonts.googleapis.com/css?family=Fira+Sans')

$_bg_color: #444
$_light_bg_color: #eee
$_input_padding_sides: 1.618/2
$_input_total_height: 4rem
$_input_font_size: 1rem

.input-case
  position: relative
  display: block
  margin: .5em 0em
  &:first-child, &:last-child
    margin: 0em 0em
  
input[type='text'], 
input[type="password"]
    
    outline: none
    box-shadow: none
    padding-top: 2.25rem
    position: relative
    box-sizing: border-box
    border: none
    z-index: 2    
    display: block
    width: 100%
    line-height: 1em
    padding: 2.25rem 1rem 1.5rem
    margin: 0px
    font-weight: 400
    font-stretch: normal
    height: $_input_total_height
    font-size: $_input_font_size
    transition: all .25s

    &+label
        font-weight: 400
        box-sizing: border-box
        margin-top: -$_input_total_height
        padding: .5rem 1rem 1.5rem
        line-height: (($_input_total_height / 16) * 3)rem
        position: relative
        display: block
        pointer-events: none
        z-index: 3
        font-stretch: normal
        height: $_input_total_height
        transition: all .25s
        overflow: hidden
        font-size: $_input_font_size/1.5

    &:invalid
        outline: none
        box-shadow: none
        padding-top: 1.5rem
        &+label            
            height: $_input_total_height
            font-size: $_input_font_size
            line-height: 1rem
            padding-top: 1.5rem 1rem
            font-size: 1rem

        
        
    
