@import url('https://fonts.googleapis.com/css?family=Fira+Sans')

$_bg_color: #444
$_light_bg_color: #eee

$_input_font_size: 1em
$_input_v_padding: .25em
$_input_v_margin: .25em
$_input_h_padding: 0em
$_input_h_margin: 0em
$_input_total_height: $_input_font_size + $_input_v_padding*2 + $_input_v_margin*2


.solid-form
    .input-case.title
        $_input_total_height: $_input_font_size + $_input_v_padding*2 + $_input_v_margin*2
        $_input_font_size: $article_h2_fontsize
        $_input_height: 1.5em
        position: relative
        padding: 2em 0em 1em 0em
        
        &:after
            position: absolute
            display: block
            top: $_input_total_height + 3em + .5em
            content: ''
            width: 100%
            background: $_black
            height: 1px
    
        label
            position: absolute
            pointer-events: none
            transition: .25s

        input.solid-input
            padding: 0px
            &, &+label
                $_input_font_size: $article_h2_fontsize
                $_input_height: 1.5em

                padding: $_input_v_padding $_input_h_padding
                height: $_input_height
                line-height: 1em
                font-size: $_input_font_size
                margin: $_input_v_margin 0px
                border: none
                outline: none
                width: 100%
                
        input.solid-title-input
            font-family: 'PT Serif', serif
            text-transform: capitalize
            font-weight: 600
            &, &+label
                $_input_font_size: $article_h2_fontsize
                $_input_height: 1.5em
                padding: $_input_v_padding $_input_h_padding
                height: $_input_height
                line-height: 1em
                font-size: $_input_font_size
                margin: $_input_v_margin 0px
                border: none
                outline: none
                width: 100%

            &+label
                transform-origin: 0px 0px
                transform: translate(0%, -$_input_total_height)
                margin-bottom: -$_input_total_height

    .input-case.empty
        input.solid-title-input:focus
        $_input_font_size: $article_h2_fontsize
        $_input_height: 1.5em
        &+label
            transform: translate(0%, - ($_input_total_height + $_input_height*0.75)) scale(0.75)
            margin-bottom: -$_input_total_height
    
        input.solid-title-input:focus
            $_input_font_size: $article_h2_fontsize
            $_input_height: 1.5em
            &+label
                transform: translate(0%, - ($_input_total_height + $_input_height*0.75)) scale(0.75)
                margin-bottom: -$_input_total_height

    .input-case.not-empty
        $_input_font_size: $article_h2_fontsize
        $_input_height: 1.5em
        input.solid-title-input
            &+label
                transform: translate(0%, - ($_input_total_height + $_input_height*0.75)) scale(0.75)
                margin-bottom: -$_input_total_height



    span.invalid-feedback
        display: block

    span.length-indicator
        font-size: .9em
        line-height: .9em
        .counter
            font-style: normal
    

    a.solid-form-btn,
    button.solid-form-btn,
    input[type="submit"].solid-form-btn
        margin: 1rem 0em
        display: block
        width: 100%
        border: none
        box-shadow: none

        &:hover
            border: none

        &.forward
            background-color: $_mainc
            &:hover
                background-color: lighten($_mainc, 5%)
        &.sidequest
            background-color: lighten($_mainc, 32%)
            &:hover
                background-color: darken(lighten($_mainc, 32%), 5%)

    .small-letter
        width: 100%
        display: inline-block
        margin: -1em 0em 0em
        font-size: .75rem


    @keyframes solid-form-error-form
        0, 100%
            transform: rotate(0deg)

        35%
            transform: rotate(2deg)

        67%
            transform: rotate(-2deg)



