.btn
    border: none
    outline: none
    border-radius: .25em
    padding: .25em 1em


    &.success
        background: $_success_green

    &.follow-btn
        display: flex
        padding: .25em 1em
        margin: .5em 0em
        color: $_white

        &.follow
            background: $_mainc

        &.unfollow
            background: darken($_mainc, 10%)

    &.navbar-objective
        color: $_white
        background: $_mainc


    &.navbar-sidequest
        background: lighten($_mainc, 40%)

    &.objective
        color: $_white
        background: $_mainc

        &.success
            background: $_success_green

    &.sidequest
        color: $_mainc
        background: lighten($_mainc, 40%)
