.card
    display: flex
    border: none
    outline: none
    overflow: hidden
    transition: box-shadow .25s ease

    a // .card a
        color: inherit
        text-decoration: none

    &.article // .card.article
        display: flex
        float: left
        vertical-align: text-top
        width: calc(100% - 56px)
        height: 300px
        margin: 8px
        box-shadow: $_shadow_1

        .cover
            background-size: cover
            background-position: 50%, 50% 

        .author-reference
            text-shadow: 0px 0px 32px 0px $_shade
            color: $_white
            padding: 0px 8px
            
        &:hover
            box-shadow: $_shadow_3

        @media screen and (min-width: $_md)
            width: calc(50% - 16px)
            &.main-card
                width: calc(100% - 16px)

        header
            display: flex
            flex-direction: column
            justify-content: flex-end
            width: 100%
            min-height: calc(100% - 64px)
            padding: 8px 0px

        h3.card-title
            font-family: 'PT Serif', serif
            padding: 0px 8px
            font-size: 18px
            width: 100%
            white-space: wrap
            text-overflow: ellipsis
            color: $_white
            font-weight: 600
            text-transform: capitalize
            text-shadow: 0px 0px 32px 0px $_shade

            @media screen and (min-width: $_lg)
                font-size: 32px
        
        summary
            display: flex
            justify-content: space-between
            align-items: center
            width: 100%
            background: $_white
            position: absolute
            height: 64px
            bottom: 0px
            padding: 8px
            overflow: hidden

        .cover
            z-index: 1
            width: 100%
            height: 100%
            position: absolute

    &.pop
        margin: 16px
        padding: 8px

        &+.spacer
            border-top: 1px dotted $_shade
            margin: 0px 64px


        h3.card-title, h3.card-title:link
            text-decoration: none
            text-transform: capitalize
            font-family: 'PT Serif', serif
            font-weight: 600
            color: $_black
            font-size: 18px

    &.comment
        margin: 10px
        z-index: 1
        padding: 10px
        box-shadow: $_shadow_1
        h4
            font-size: 1,5em
            color: #0088ff
        
            


.action-bar
    display: flex
    flex-direction: row
    button
        border: none
        background: transparent
        color: $_black
        display: flex
        justify-content: center
        align-items: center
        width: 32px
        height: 32px