.navbar-agora
    top: 0px
    left: 0px
    width: 100%
    position: fixed
    background: $_white
    border-bottom: 1px solid $_lightgrey
    padding: .25em
    flex-direction: column
    .navbar-brand
        display: block
        a
            display: inline-block
            text-decoration: none
    ul.navbar-nav
        justify-content: center
        flex-direction: row

        .nav-item
            margin-right: .5em
            margin-right: .5em
            display: flex
            flex-direction: row
            height: 48px

            a
                display: inline-flex
                width: 100%
                align-self: center

                i
                    display: inline-block

    
    .container,
    .container-fluid
        display: flex
        flex-direction: column
        justify-content: flex-end
        
        .navbar-header-container
            flex: 1
            flex-direction: row
            display: flex
            justify-content: center
            align-items: center

        .navbar-content-container
            display: flex
            flex-direction: column

    @media screen and (min-width: 992px)
        .container,
        .container-fluid
            flex-direction: row
            .navbar-header-container

            .navbar-content-container
                flex-direction: row
                justify-content: flex-end
                align-items: flex-end

            .brand
                flex: 1

    .agora-svg-logo.with-text
        margin: 0px
        padding: 0px


    ul>li>a.nav-link
        border: 2px solid transparent
        text-align: center
        &.reg
            display: block
            background-color: $_white
            border-color: $_mainc
            border-width: 2px
            border-style: solid
            color: $_mainc
            padding: .5em 1.25em
            border-radius: .5em
            transition: background .25s

            &:hover
                background: $_mainc
                color: $_white

    img.navbar-pp
        width: 32px
        height: 32px
        border: 3px solid $_lightgrey
        border-radius: 100%
    

    h2
        font-size: 18px
        margin: 0px
        padding: 0px
        display: inline
        vertical-align: middle
    
    form
        display: inline
        vertical-align: middle
    
    .toolbar-btn
        height: 32px;
        display: flex
        justify-content: center
        align-items: center
        background: transparent
        color: $_mainc
        border: none
        border-radius: 32px
        transition: background .25s
        outline: none
        text-transform: none
        text-decoration: none

        i
            padding: .5em
            font-size: 16px
            display: flex
            margin: 0px

        &.iconless
        
        &.icon
            padding: 8px 10px
            i
                padding: .5em .5em .5em 0em
        
        &.textless



        &:hover, &:focus
            background: darken($color: white, $amount: 5)

        &:active            
            background: darken($color: white, $amount: 15)

    .navbar-toggler
        color: $_mainc
        position: relative
        outline: none
        width: 48px
        height: 48px

        // cambiamos el icono svg por elementos html
        i.icon-bar
            background-color: $_mainc
            width: 24px
            height: 2px
            position: absolute
            top: 50%
            left: 50%
            margin: -2px 0px 0px -12px

            &:nth-child(1)
                margin-top: -8px
            
            &:nth-child(3)
                margin-top: 4px