.login-carousel-wrapper
    .login-carousel-inner
        .login-carousel-item
            height: 100vh

.login-form
    padding: 0em 4em
    background: $_mainc
    min-height: 100vh

    @include box-sizing()

    h2
        color: $_white
        font-size: 14px

    form
        border-radius: .5em
        padding: 2em        
        background-color: $_white
        margin: 2em 0em
    
    .footer
        color: $_white
        a
            color: inherit
